<div class="container-fluid p-2">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-9">
                            List Foto
                        </div>
                        <div class="col-3">
                            <div class="pull-right">
                                <i class="fa fa-plus text-danger" (click)="triggerModal(modalData)"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 p-2" *ngFor="let hay of haystackList">
                            <div class="content">
                                <div class="content-overlay"></div>
                                <img class="content-image" src="https://aimachine.brimob.id/upload-images/ai-uploads/haystack/{{hay.filename}}" alt="" style="max-width: 150px;">
                                <div class="content-details">
                                    <div class="fixed-top">
                                        <i class="fa fa-trash text-light" aria-hidden="true" (click)="deleteFoto(hay)"></i>
                                    </div>
                                    <div class="fixed-bottom">
                                        <i class="fa fa-plus  text-light" aria-hidden="true" (click)="addFoto(hay)"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-header">
                    <div class="row">
                        <div class="col-9">
                            List Potrait / E-KTP
                        </div>
                        <div class="col-3">
                            <div class="pull-right">
                                <i class="fa fa-plus text-danger" (click)="triggerModal(modalData2)"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3 p-2" *ngFor="let pot of potraitList">
                            <div class="content">
                                <div class="content-overlay"></div>
                                <img class="content-image" src="https://aimachine.brimob.id/upload-images/ai-uploads/portrait/{{pot.portrait_filename}}" alt="" style="max-width: 150px;">
                                <div class="content-details">
                                    <div class="fixed-top">
                                        <i class="fa fa-trash text-light" aria-hidden="true" (click)="deleteFoto2(pot)"></i>
                                    </div>
                                    <div class="fixed-bottom">
                                        <i class="fa fa-plus  text-light" aria-hidden="true" (click)="addFoto2(pot)"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-center">
                <div class="card-header">
                  Selected Foto
                </div>
                <div class="card-body">
                    <div class="row" id="selectedFoto">
                        
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <button type="button" class="btn btn-primary mx-2" aria-label="Close" (click)="identify()">
                        <span aria-hidden="true">Identify</span>
                    </button>
                    <button type="button" class="btn btn-danger" aria-label="Close" (click)="clearSelection()">
                        <span aria-hidden="true">Clear</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-3">
          <div class="card text-center">
            <div class="card-header">
              Result
            </div>
            <div class="card-body">
                <div class="row" id="result">
                </div>
                <div class="row">
                  <div class="col-6 p-1" *ngFor="let res of resultIdentify">
                      <div class="content">
                          <img class="content-image" src="https://aimachine.brimob.id/upload-images/ai-uploads/portrait/{{res.portrait}}" alt="" style="max-width: 100px;">
                      </div>
                      <p>Match Percentage : {{res.match_percentage}}</p>
                  </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<!-- modal haystack  -->
<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Upload Foto</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let progressInfo of progressInfos" class="mb-2">
        <span>{{ progressInfo.fileName }}</span>
        <div class="progress">
          <div
            class="progress-bar progress-bar-info progress-bar-striped"
            role="progressbar"
            attr.aria-valuenow="{{ progressInfo.value }}"
            aria-valuemin="0"
            aria-valuemax="100"
            [ngStyle]="{ width: progressInfo.value + '%' }"
          >
            {{ progressInfo.value }}%
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <label class="btn btn-default p-0">
            <input type="file" accept="image/*" multiple (change)="selectFiles($event)" />
          </label>
        </div>
        <div class="col-4">
          <button
            class="btn btn-success btn-sm"
            [disabled]="!selectedFiles"
            (click)="uploadFiles()"
          >
            Upload
          </button>
        </div>
      </div>
      <div>
        <img *ngFor='let preview of previews' [src]="preview" class="preview">
      </div>
      <div *ngIf="message.length" class="alert alert-secondary my-3" role="alert">
        <ul *ngFor="let msg of message; let i = index">
          <li>{{ msg }}</li>
        </ul>
      </div>
  </div>
</ng-template>

<!-- modal potrait  -->
<ng-template #modalData2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Upload Foto</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let progressInfo of progressInfos" class="mb-2">
        <span>{{ progressInfo.fileName }}</span>
        <div class="progress">
          <div
            class="progress-bar progress-bar-info progress-bar-striped"
            role="progressbar"
            attr.aria-valuenow="{{ progressInfo.value }}"
            aria-valuemin="0"
            aria-valuemax="100"
            [ngStyle]="{ width: progressInfo.value + '%' }"
          >
            {{ progressInfo.value }}%
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <label class="btn btn-default p-0">
            <input type="file" accept="image/*" multiple (change)="selectFiles($event)" />
          </label>
        </div>
        <div class="col-4">
          <button
            class="btn btn-success btn-sm"
            [disabled]="!selectedFiles"
            (click)="uploadFiles2()"
          >
            Upload
          </button>
        </div>
      </div>
      <div>
        <img *ngFor='let preview of previews' [src]="preview" class="preview">
      </div>
      <div *ngIf="message.length" class="alert alert-secondary my-3" role="alert">
        <ul *ngFor="let msg of message; let i = index">
          <li>{{ msg }}</li>
        </ul>
      </div>
  </div>
</ng-template>